<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037942697835-kfheoj55oqk7g3kfvvstjpg8i4glrece.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037942697835-kfheoj55oqk7g3kfvvstjpg8i4glrece</string>
	<key>API_KEY</key>
	<string>AIzaSyCj4fDi9-tIUtwtuWc5Rg3-9BpOnazHrWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1037942697835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mwm.Muse</string>
	<key>PROJECT_ID</key>
	<string>gthackathon-f4946</string>
	<key>STORAGE_BUCKET</key>
	<string>gthackathon-f4946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037942697835:ios:03ecfeb6b9e3def314a62e</string>
</dict>
</plist>